:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 10px;
}

input {
  height: 25px;
  padding: 2px;
  margin: 0;
  border: 1px solid black;
  border-radius: 4px;
}

section {
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  margin-bottom: 0.3rem;
  min-width: 40rem;
  height: fit-content;
}

article {
  min-height: 40px;
}

.sample-radio {
  display: flex;
  align-items: center;
  label {
    margin-right: 0.5rem;
  }
}

h1 {
  text-align: center;
}

h1,
h4 {
  color: teal;
}

@media screen and (max-width: 700px) {
  section {
    min-width: 90%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

aside {
  display: flex;
}

.display {
  display: block;
}

.hide {
  display: none;
}

.form-group {
  width: fit-content;
}

.name {
  width: 152px;
}

.role {
  width: 295px;
}

.active {
  width: 161px;
}

tr {
  height: 83px;
}
